<ion-header no-border color="tema">
  <ion-navbar color="tema">
    <ion-title>CITI 2019</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="dark" stacked>Nome do voluntário:</ion-label>
            <ion-input type="text" #nome></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label color="dark" stacked>Atividade:</ion-label>
            <ion-select #atividade>
              <ion-option value="auditorio27">Auditório 27</ion-option>
              <ion-option value="auditorio28">Auditório 28</ion-option>
              <ion-option value="auditorio29">Auditório 29</ion-option>
              <ion-option *ngFor="let i of counter(5)" value="artigo{{i}}">Artigo {{i}}</ion-option>
              <ion-option value="credenciamento">Credenciamento</ion-option>
              <ion-option value="doacao">Doação</ion-option>
              <ion-option *ngFor="let i of counter(17)" value="mc{{i}}">MC {{i}}</ion-option>
              <ion-option value="palestra2">Palestra 2</ion-option>
              <ion-option value="painel">Painel</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button block style="margin-top: 30px;" (click)="onQrcode(nome.value, atividade.value)" color="tema"><ion-icon name="md-barcode"></ion-icon>&nbsp;&nbsp;&nbsp;Prosseguir</button>
  <button ion-button block outline style="margin-top: 30px;" (click)="onQrcodeVoluntario()" color="tema">Registrar presença de voluntário</button>
</ion-content>
